<footer>

  <div class="container">
    <div id="footerNav">
      {% include general/nav.html %}
    </div>

    <div class="row">

      <div id="socialMedia" class="col-lg-8 col-sm-8">
        <h3></h3>
        <div class="socialMediaContainer">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-bath" aria-hidden="true"></i>
        </div>
      </div>

      <div id="book" class="col-lg-4 col-sm-4 card">

      </div>
    </div>
  </div>
</footer>
