<div class="nav">
  <a href="{{site.baseurl}}/index.html">home</a>
  <a href="{{site.baseurl}}/faq.html">faq</a>
  <a href="{{site.baseurl}}/retour.html">retour</a>
  <a href="{{site.baseurl}}/verzending.html">verzending</a>
  <a href="{{site.baseurl}}/overHelpbutton.html">over helpbutton</a>
  <a href="{{site.baseurl}}/VSNmobil.html">VSNmobil</a>
  <a href="{{site.baseurl}}/garantie.html">garantie</a>
  <a href="{{site.baseurl}}/app.html">app</a>
  <a href="{{site.baseurl}}/contact.html">contact</a>
</div>
