<nav id="nav">
  <a href="{{site.baseurl}}{{ url }}/index.html">home</a>
  <a href="{{site.baseurl}}{{ url }}/faq.html">faq</a>
  <a href="{{site.baseurl}}{{ url }}/retour.html">retour</a>
  <a href="{{site.baseurl}}{{ url }}/verzending.html">verzending</a>
  <a href="{{site.baseurl}}{{ url }}/overHelpbutton.html">over helpbutton</a>
  <a href="{{site.baseurl}}{{ url }}/VSNmobil.html">VSNmobil</a>
  <a href="{{site.baseurl}}{{ url }}/garantie.html">garantie</a>
  <a href="{{site.baseurl}}{{ url }}/app.html">app</a>
  <a href="{{site.baseurl}}{{ url }}/contact.html">contact</a>

</nav>
