<h4 clase="name review">J. Eijck</h4>
<p class="stars review">
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
</p>

<h4 class="reviewText review">Bedankt voor de snelle levering van de button. Ziet er allemaal netjes uit. Ik moet nog wel wat gaan testen met de Bluetooth verbinding. Deze valt regelmatig weg, en komt dan weer terug. (kan natuurlijk ook aan de telefoon liggen.) Wordt vervolgt….</h4>
