<h4 clase="name review">M.W.</h4>
<p class="stars review">
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
</p>

<h4 class="reviewText review">Dinsdags besteld en donderdag thuis gekregen app gedownload en button aanmelden op app. Dus na 10 minuten had ik een goedwerkende helpbutton.. Werkt van in bed tot aan de andere kant van de wereld voor eenmalig 60,00 Euro. Nog wat vragen gesteld, die werden na 10 minuten al beantwoord. Geeft een veilig gevoel.</h4>
