<h4 clase="name review">Maartje van zorgorganisatie Severinus</h4>
<p class="stars">
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
</p>

<div class="reviewText review">
   <h4>De positieve feiten;<h4>
   <h4>Snel in gebruik; snelle oproep, geeft zekerheid en veiligheid.</h4>
   <h4>Fijn te hanteren; kleine oproepknop, gemakkelijk in je broekzak.</h4>
   <h4>Diverse hulpmiddelen; bandje, clip,  medaillon; erg fijn.</h4>
   <h4>Makkelijk in gebruik, iedereen kan het leren.</h4>
</div>
