<h4 clase="name review">Maartje van zorgorganisatie Severinus</h4>
<p class="stars">
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
  <i class="fa fa-star" aria-hidden="true"></i>
</p>

<h4 class="reviewText review">
De positieve feiten;
  <ul>
    <li>Snel in gebruik; snelle oproep, geeft zekerheid en veiligheid.</li>
    <li>Fijn te hanteren; kleine oproepknop, gemakkelijk in je broekzak.</li>
    <li>Diverse hulpmiddelen; bandje, clip,  medaillon; erg fijn.</li>
    <li>Makkelijk in gebruik, iedereen kan het leren.</li>
</h4>
