#functions
  h3
    color: white
    background-color: lightgreen
    box-shadow: -5px -5px 5px lightgreen, 5px 5px 5px lightgreen, -5px 5px 5px lightgreen, 5px -5px 5px lightgreen
    padding: 10px
    font-weight: bold
    margin-right: 5%

  .functionCard
    border: 20px solid white
    display: flex
    flex-direction: column
    justify-content: left
    align-items: center
    padding-left: 0px
    .functionText
      padding: 10px
      text-align: center
      background-color: #fffdda
      p:first-child
        text-transform: uppercase
        color: tomato
        font-weight: bold

    .functionImg
      height: 70px
      min-width: 70px
      margin-bottom: 20px
      background-size: contain
      background-repeat: no-repeat
      background-position: center center


    .function1
      background-image: url($baseurl + "/img/icons/fallDetectionIcon.jpg")
    .function2
      background-image: url($baseurl + "/img/icons/outOfRangeIcon.jpg")
    .function3
      background-image: url($baseurl + "/img/icons/noFeeIcon.jpg")
    .function4
      background-image: url($baseurl + "/img/icons/textCallIcon.jpg")
      min-width: 137px
    .function5
      background-image: url($baseurl + "/img/icons/wireLessIcon.jpg")
    .function6
      background-image: url($baseurl + "/img/icons/batteryIcon.jpg")
    .function7
      background-image: url($baseurl + "/img/icons/appIcon.jpg")
      min-width: 125px
    .function8
      background-image: url($baseurl + "/img/icons/locationIcon.jpg")
