header
  h1
    margin-left: 50px
    margin-top: 7px
  .headerImg
    background-image: url("../img/backgroundImg/header.jpg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    height: 70vh
    display: flex
    align-items: flex-end
    justify-content: flex-end
    padding-right: 25%
    padding-bottom: 2%

  h3
    color: white
    background-color: $textColor
    box-shadow: 5px 0px 5px $textColor, -5px 0px 5px $textColor, 0px 0px 5px $textColor
    padding: 10px
    font-weight: bold
