html
  width: 100%
  \::-webkit-scrollbar
    display: none
body
  margin: 0
  padding: 0

section, footer
  margin-top: 18vh
  margin-bottom: 6vh

h1, h2, h3, h4, h5, h6, p, a, li
  color: $textColor

h1
  font-family: 'Cabin Sketch', cursive
  font-weight: bold
  text-transform: uppercase

h2
  font-weight: bold

h2, h3, h4, h5, h6, p, a, li
  font-family: 'Poppins', sans-serif

h2, h3, h4, h5
  text-align: center

h5, p, a, li
  font-size: 2rem
  font-weight: 600
  line-height: 3.5rem
  margin: 3.5rem 0

a, .hover
  &:hover
    color: $hoverColor
    text-decoration: none
  p
    &:hover
      color: $hoverColor
  
section
  a, .hover
    color: $hoverColor

.logoText
  margin-left: 50px
  margin-top: 7px

.gridSpace
  margin: 20px 0px

.titleElement
  background-position: center
  background-size: cover
  height: 50vh
  display: flex
  flex-direction: column
  justify-content: center
  margin: 25px 0px
  h2, h1
    align-self: center
    color: white
    text-shadow: 2px 2px 5px black, 2px -2px 5px black, -2px 2px 5px black, 0px 0px 15px black
