<section id="contactSection">
  <div class="container">
    <div class="titleElement" style="background-image: url({{site.baseurl}}/img/backgroundImg/contact.jpg)">
      <h2>contact gegevens</h2>
    </div>
    {% include general/contactForm.html %}
    <div class="row">
      <div class="col-lg-8 col-sm-6 padding10px zoom" onclick="">
        <div class="contactCard">
          <div id="map"></div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 padding10px" onclick="">
        <div class="contactCard">
          <h4><i class="fa fa-envelope" aria-hidden="true"></i>arjen@loenz.nl</h4>
          <h4><i class="fa fa-phone-square" aria-hidden="true"></i>+31 (0)6 456 084 63</h4>
          <h4><i class="fa fa-coffee" aria-hidden="true"></i>1062KD 145 Amsterdam</h4>
        </div>
      </div>
    </div>
  </div>
</section>
