<section id="functions">
  <h3>Functies!</h3>
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/fallDetectionIcon.svg" alt="fallDetectionIcon">
          </div>
          <div class="functionText">
            <p>Val detectie</p>
            <p>Als de val-sensor merkt dat je valt, zal de v-alert uit zichzelf een noodbericht sturen</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/outOfRangeIcon.svg" alt="outOfRangeIcon">
          </div>
          <div class="functionText">
            <p>Bereik detectie</p>
            <p>De v-alert en app alarmeren je, wanneer de knop of de smartphone buiten bereik raakt</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/noFeeIcon.svg" alt="noFeeIcon">
          </div>
          <div class="functionText">
            <p>Geen extra kosten</p>
            <p>De V.ALERT maakt gebruik van een data- of wifi verbinding om de alarm-berichten te versturen. Dit is gratis</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/textCallIcon.svg" alt="textCallIcon">
          </div>
          <div class="functionText">
            <p>SMS & bel direct</p>
            <p>Direct na indrukken maakt de V.ALERT contact met de app. De app start direct met bellen en het versturen van de alarm-berichten</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/wireLessIcon.svg" alt="wirelessIcon">
          </div>
          <div class="functionText">
            <p>Groot bereik</p>
            <p>Door Bluetooth 4.0 heeft de V.ALERT een maximaal draadloos bereik van 15 meter binnen en 30 meter buiten</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/batteryIcon.svg" alt="batteryIcon">
          </div>
          <div class="functionText">
            <p>Opladen niet nodig</p>
            <p>De batterij gaat tot 6 maanden mee. De standaard CR2032 horloge batterij is eenvoudig vervangbaar</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/appIcon.svg" alt="appIcon">
          </div>
          <div class="functionText">
            <a href="{{ site.baseurl }}/app"><p class="hover">Android & iOS</p></a>
            <p>De V.ALERT werkt met iPhone 4S/iOS 9 of hoger & Android 4.3 of hoger met Bluetooth 4.0 met LE <a href="https://en.wikipedia.org/wiki/Bluetooth_Low_Energy">(BLE)</a></p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="gridSpace functionCard">
          <div class="functionImg">
            <img src="{{ site.baseurl }}{{ url }}/img/icons/locationIcon.svg" alt="locationIcon">
          </div>
          <div class="functionText">
            <p>GPS locatie</p>
            <p>Je kunt er voor kiezen om ook je GPS locatie naar je contacten te sturen. Zij weten dan direct waar je bent</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
