<section id="usage">
  <h3>toepassingen</h3>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-sm-12 usageCard usage1">
        <h5>Actieve sporten</h5>
        <p>
          – Mountainbiken
          – Skiën
          – Snowboarden
          – Hiken
          – Hardlopen
          – Wielrennen
        </p>
      </div>

      <div class="col-lg-4 col-sm-6 usageCard usage2">
        <h5>Risicovol werk</h5>
        <p>
          – Juwelier
          – Winkel bediende
          – Bouwvakker
          – Makelaar
          – Bezorger
          – Cauffeur
        </p>
      </div>

      <div class="col-lg-4 col-sm-6 usageCard usage3">
        <h5>Persoonlijke beperkingen</h5>
        <p>
          – Epilepsie
          – Dementie
          – Senioren
          – Kinderen
          – Gehandicapten
          – Angstaanvallen
        </p>
      </div>

    </div>
  </div>
</section>
