<section id="wear">
  <h3>Neem hem overal mee naar toe!</h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="gridSpace wearCard wearNek">
          <h4>ketting</h4>
          <h5>eenvoudig en snel bereikbaar</h5>
      </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="gridSpace wearCard wearArm">
          <h4>horloge</h4>
          <h5>niemand heeft het door</h5>
      </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="gridSpace wearCard wearKey">
          <h4>sleutelhanger</h4>
          <h5>altijd veilig de deur uit</h5>
      </div>
      </div>
    </div>
  </div>
</section>
